* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.hidden {
    display: none;
}
.transparent {
    opacity: 0;
}
html {
    font-size: 16px;
    font-family: 'plex-serif';
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 0px;
    scroll-snap-type: y mandatory;
}
body {
    background-image: url('../img/hush-naidoo.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#home {
    scroll-snap-align: start;   /* - snap point for top - */
}


/* - - - Header - - - */
header {
    background: linear-gradient( rgba(0,212,255,.5) 0%, rgba(71,12,97,.75) 48%, rgba(0,0,0,.9) 100%);
    color: #fff;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: 'plex-sans';
    padding: 100px;
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 48px;
    color: #fa0;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    margin-bottom: 80px;
}


/* - - - Navigation - - - */
nav {
    position: sticky;
    top: 0px;
}
.menu {
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
    padding-left: 24px;
    display: flex;
}
.menu > li {
    display: inline;
    cursor: pointer;
    position: relative;
    padding: .75rem 2rem;
    border-radius: 8px;
}
.menu li:hover {
    background-color: #fa0;
    color: #000;
    transition: all 0.4s ease;
}
.submenu {
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
    position: absolute;
    left: 0;
    top: 100%;
    border-radius: 8px;
}
.submenu li {
    display: block;
    padding: .75rem 2rem;
    white-space: nowrap;
    border-radius: 8px;
}


/* - - - Main - - - */
main {
    background: linear-gradient( rgba(0,0,0,.9) 0%, rgba(0,0,0,0) 100%);
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(100vh, auto);
}
.wrapper {
    scroll-snap-align: start;
    padding: 44px;
}
#edit-ext {
    grid-row: 2 / 3;
}
#edit-env {
    grid-row: 3 / 4;
}
#edit-syn {
    grid-row: 4 / 5;
}


/* - - - E N V   E D I T O R - - - */
.sub-wrapper {
    text-align: center;
    margin: auto;
}
.env-wrapper {

    display: inline-block;
}
.env-grid {
    display: grid;
    grid-template-columns: 60px 120px 600px;
    grid-template-rows: 28px 24px 320px 160px 28px;
    background-color: #000;
    gap: 2px;
    padding: 1px;

}
#env-picker{
    opacity:0;
    display: none;
}
.env {
    transition: all .4s ease;
}
.env:hover {
    background-color: #fa0;
    border: 6px solid #fa0;
    z-index:1;
}

#editor-env-title {
    background-color: #bbb;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
#editor-env-activity {
    background-color: #bbb;
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}
#editor-env-panel {
    background-color: #bbb;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}
#editor-env-editor {
    background-color: #bbb;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}
#editor-env-sidebar {
    background-color: #bbb;
    grid-column: 2 / 3;
    grid-row: 2 / 5;
}
#editor-env-status {
    background-color:#bbb;
    grid-column: 1 / 4;
    grid-row: 5 / 6;
}